.DS_Store
Thumbs.db
*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.project
.*proj
.svn/
*.swp
*.pyc
*.pyo
.build/
bower_components/
node_modules/
*.log
**/.*
!.editorconfig
!.gitignore
!.npmignore
!.cise.ym
.history/
.idea/